{% load static %}
{% load staticfiles %}
{% load pdf_filters %}
{% block content %}
    <div id="content">

        <table class="full-width">
            <tr>
                <td class="left"><img src="http://localhost:9000/images/logo_ejercito.png" width="80" height="80"></td>
                <td class="center">
                    <h1 class="pT30">SIMULADOR DE PRÁCTICA DE TIRO</h1>
                    <h2><i>"Colegio Militar del Ejército"</i></h2>
                </td>
                <td class="right">
                    <img src="{{ "static/logo_ejercito.png" | get_path:request }}" width="85" height="75">
                </td>
            </tr>
        </table>

        <hr>
        <img src="{{ binaryss }}" style="width: 400px">
        <img src="{{ 'http://chart.apis.google.com/chart?chtt=Pie+Chart&chts=000000,12&chs=300x150&chf=bg,s,ffffff&cht=p3&chd=t:100.00&chl=Lhjabel+1&chco=0000ff'|get64 }}">
        <table cellpadding="1" border="1">
            <tbody>
            <tr>
                <td style=" white-space: nowrap;">aaa</td>
                <td style=" white-space: nowrap;">bdbb</td>
                <td style=" white-space: nowrap;">
                    ccdffffffddddddddddddddddddddddddddddddddddddddddddfffffffffffffffffffffffffffffff
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <style>
        .mT10 {
            margin-top: 10px;
        }

        .mT30 {
            margin-top: 20px;
        }

        .mT30 {
            margin-top: 30px;
        }

        .mT50 {
            margin-top: 50px;
        }

        .mT100 {
            margin-top: 100px;
        }

        .pT10 {
            padding-top: 10px;
        }

        .pT15 {
            padding-top: 20px;
        }

        .pT30 {
            padding-top: 30px;
        }

        .pT50 {
            padding-top: 50px;
        }

        .pT100 {
            padding-top: 100px;
        }

        .center {
            text-align: center;
        }

        .left {
            text-align: left;
        }

        .right {
            text-align: right;
        }

        .full-width {
            width: 100%;
        }

        .pull_left {
            float: left;
        }

        .pull_right {
            float: right;
        }
    </style>
{% endblock %}

