{% extends "easy_pdf/base.html" %}
{% load  pdf_filters %}
{% load  staticfiles %}
{% block content %}
    <div id="content">
        <table class="full-width">
            <tr>
                <td class="left"><img src="{{ logo_bolivia_url | get64 }}" width="85" height="75"></td>
                <td class="center" style="width: 90%">
                    <h1 class="pT30">SIMULADOR DE PRÁCTICA DE TIRO</h1>
                    <h2><i>"Colegio Militar del Ejército"</i></h2>
                </td>
                <td class="right"><img src="{{ logo_ejercito_url | get64 }}" width="80" height="80"></td>
            </tr>
        </table>

        <hr style="margin-bottom: 2px">
        <hr style="margin-top: 2px">
        <h1 class="center mT30" style="text-decoration: underline">{{ title }}</h1>
        <p><b>Fecha: </b> {% now "d F Y H:i" %}</p>
        <img src="{{ logo_imagen_url | get64 }}" width="600" height="300">


    </div>
    <div id="page-footer">
        {% block page_foot %}
            <hr>
            <h5 class="center mV1">Escuela Militar de ingeniería</h5>
            <div class="center mV1">
                <pdf:pagenumber/>
            </div>
        {% endblock %}
    </div>
    <style>
        @page {
            size: {{ pagesize|default:"Letter" }};
            margin-left: 1.5cm;
            margin-right: 1.5cm;
            margin-top: 1.5cm;
            margin-bottom: 1cm;
            @frame header {
            -pdf-frame-content: page-header;
            margin-top: 0.7cm;
            margin-right: 2mm;
            margin-bottom: 0cm;
            margin-left: 1.2cm;
        }
        @frame footer {
        -pdf-frame-content:page-footer;
        bottom: 0.5cm;
        margin-left: 1cm;
        margin-right: 1cm;
        height: 1.3cm;
        }
        }

        tr:nth-of-type(odd) {
            background-color: #f4f379;
        }

        td {
            overflow: hidden;
            white-space: nowrap;
        }

        .mV1 {
            margin-top: 1px;
            margin-bottom: 1px;
        }

        .mT10 {
            margin-top: 10px;
        }

        .mT30 {
            margin-top: 20px;
        }

        .mT30 {
            margin-top: 30px;
        }

        .mT50 {
            margin-top: 50px;
        }

        .mT100 {
            margin-top: 100px;
        }

        .pT10 {
            padding-top: 10px;
        }

        .pT15 {
            padding-top: 20px;
        }

        .pT30 {
            padding-top: 30px;
        }

        .pT50 {
            padding-top: 50px;
        }

        .pT100 {
            padding-top: 100px;
        }

        .center {
            text-align: center;
        }

        .left {
            text-align: left;
        }

        .right {
            text-align: right;
        }

        .full-width {
            width: 100%;
        }

        .pull_left {
            float: left;
        }

        .pull_right {
            float: right;
        }
    </style>
{% endblock %}

